body
{
    background: url(../assets/bgtexture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.container-menu
{
    padding-left: 9%;
    padding-right: 9%;
    -webkit-text-fill-color: #5F002B;
    width: 100%;
   
}
.container-menu-images
{
padding-left: 9%;
padding-right: 10%;
width: 100%;
}
.elizarRow
{
    border-bottom: 2px;
    border-style: solid;
    border-color:#5F002B;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.whiteRow
{
    -webkit-text-fill-color: white;
}
.leftrightPad
{
    padding-inline-start: 9%;
    padding-inline-end: 2%;
  
}
.logoCom
{
    -webkit-text-fill-color: transparent;
}
.photoBar
{
    background-color: white;
}
.iOne
{
    border: 10px solid white;
   
}
.icOne
{
    padding-inline-start: 0%;
}
.spacing
{
    -webkit-text-fill-color: transparent;
}